# -----------------------
# | Add Python packages |
# -----------------------
# To install below packages at startup, uncomment this line in "docker-compose.yml" file!
# - ./entrypoint.sh:/entrypoint.sh
# then down the docker container ($ docker-compose down) and up it again ($ docker-compose up -d).
# -----------------------
# paramiko==2.7.2 # for auto_backup module
flask==2.3.3
flask-cors==4.0.0
Pillow==10.0.0
PyMuPDF==1.23.8
requests==2.31.0
pymongo==4.7.2
pandas==2.2.2
scikit-learn==1.5.1